<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="nav navbar-nav navbar-right">
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    </div>
  </div>
</nav>
